# Entorno virtual
venv/
env/
.venv/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.log

# Archivos de Django
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Archivos de entorno
.env
.env.local

# Archivos IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos del sistema operativo
.DS_Store
Thumbs.db
